 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   header{
    width: 100%;
    //background-color: rgb(7, 112, 112);
    display: flex; // ativa as caixas flexiveis 
    justify-content:center ; // FLEX-START é o padrão, os itens são postos no começo do eixo principal(vertical)...   FLEX-END os itens são postos no final do eixo principal...  FLEX-CENTER os items são postos no meio do eixo principal
    justify-content:space-around ; // SPACE-AROUND o primeiro espaço vazio e o ultimo são iguais..  SPACE-EVENLY o mesmo espaçamento entre os itens.. SPACE-BETWEEN o primeiro fica no começo do eixo e o ultimo fica no final do eixo 
    height: 15vh;
    align-items:center ; //FLEX-START  padrão! os itens são postos no começo do eixo y(vertical)..  FLEX-END os itens são postos no fim do eixo y...  FLEX-CENTER os itens são postos mo meio do eixo y..
    
    //responsivo
    //smartphone max.. 500px
    //@media (min-widht: ;) and (max-width: ;){}
  


  .caixaLogo{
    //border: solid yellow;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
    margin-right: 25rem;

  h1{
   // border: solid rgb(228, 89, 89);
    font-size: 2rem;
    margin-right: 50px;
  }
}

  nav{
    // border: solid rgb(243, 117, 14);
    display: flex;
    justify-content:space-around;
    width: 40%;
    align-items: center; 
  

  a{
   // background-color: deeppink;
    text-decoration: none;
    font-size: 1.5rem;
    color: #4b5563;
  }

  }
}



.btnVerdeHeader{
    background-color: #21c05c;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
   }
 





   



              //--------------primeira section - desktop------------//

  .primeiraSection{
    //border: solid rgb(233, 30, 30);
    display: flex;
    flex-direction: row;
  //  justify-content: space-ev;
    align-items: center;
    height: 70vh;
    margin-top: 3rem;

  //margin: auto;
  //padding: 1rem 0;


    section{
       // border: solid rgb(9, 241, 67);
        height:70vh;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        gap: 1rem;
        align-items: center;
        width: 85%;

        h2{
           // background-color: lightseagreen;
            font-size:3.75rem;
            font-weight: 700;
            font-family: Poppins;
            width: 65%;
            
          //display: flex;
          //flex-direction: column;
          //justify-content: space-evenly;
          }

        p{
          //background-color: skyblue;            
          font-size: 1.25rem;
          width: 65%;
          font-weight: 400;
          color: #4B5563;
        }
      }
    
      
    
    .boxBtnsPrimeiraSection{
        //border: solid purple;
        width: 80%;
        height:6rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
      //text-align: center;
      //height: 6rem;
      

      .btnAdquirir{
        border: solid 1px #2563EB;
        background-color: #ffffff;
            width: 15rem;
            height: 3rem;
            //text-align: center;
            align-items: center;
            border-radius: .3rem;
      }

      .btnDoar{
        width: 15rem;
        height: 3rem;
        align-items: flex-start;
        border-radius: .3rem;
      
      }

        
        button{
          background-color: #16a34a;
          text-align: center;
          align-items: center;
          cursor: pointer;
          padding: 30px 40px;
        
        }
      }
    
    .imagemCoraçaoCircuito{
   // background-color: #4b5563;
    padding-right: 4em;
    max-height: 125%;
    display: flex;
    max-width: 100%;
  
    }
}
  
  

  
      
    




//------section Dados Numericos--------//
    .dadosNumericos{
      //border: solid red;
      background-color: #f3f5f8;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 25vh;
      width: 60%;

      div{
       // border: solid;
        width: 25%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2{
          color: #21c05c;
          font-size: 2.4rem;

        }
      }
    }



           //----------section produtos disponiveis--------//

  .produtosDisponiveis{
    background-color: grey;
    display: flex;
    height: 85vh;
    justify-content: space-around;
    align-items: center;
    

    article{
        border: solid  red;
        width: 20%;
        height:60vh;
        display: flex;
        flex-direction: column; //  RAW (padrão) fileira  os itens são organizados em forma de linha da esquerda para a direita... ROW REVERSE  os itens são organizados em forma de linha (fileira) da direita pra esquerda..
        // COLUMN os itens são organizados em forma de colunas, de cima para baixo COLUMN REVERSE os itens são organizados em forma de colunas iniciando de baixo para cima 
        justify-content:space-between;
        //text-align: center;
        align-items: center;


    img{
        width: 100%;
        border: solid blue;
        height: 30vh;
    }
     
    button{
       // border: solid rgb(2, 119, 2);
        width: 60%;
        height: 4vh;
        cursor: pointer;
        margin-bottom: 1rem;
        background-color: #16a34a;
        color: #ffffff;
        font-weight: 900;
        border-radius: 15px;
        font-size: .9rem;
        font-family: monospace;

    }
  }
}





@media(max-width:500px){
    header{
        display: flex; // nao faz muita diferença pois a header ja esta configurada
        flex-direction: column;
        height: 20vh;
    }

    .caixaLogo{
        border: solid;
        width: 70%;       
   }

   nav{
    border: solid;
    width: 100%;

    a{
        font-size:0.8rem;
        
    }
    .btnVerdeHeader{
        font-size: 0,8ren;
    }
   }





   .dadosNumericos{
    background-color: rgb(238, 189, 189);
    text-align: center;
    div{
      width:30%;
      height: 15vh;
    }

    h2{
      font-size: 2.7rem;
    }
    p{
      font-size: 1.2rem;

    }
   }


             //----------primeira section - mobile--------//

   .primeiraSection{
        background-color: violet;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 80vh;

         section{
            height: 70vh;
            background-color: #16a34a;

            h2{
                font-size: 1.5rem;
                width: 100%;
            }

            p{
                width: 100%;
        }
    }

            .boxBtnsPrimeiraSection{
                width: 100%;

                button{
                    padding: 20px 30px;
                }
            }

            img{
                width: 50%;
            }
        }



       //-----------section Produtos Disponiveis---------//
    .produtosDisponiveis{
        flex-direction: column;
       background-color: palevioletred;

       article{
        width: 50%;
        text-align: center;


        button{
            background-color: red;
            font-size:1rem ;
            width: 70%;
            font-weight: 400;

        }

       }

    }
}
