 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

   header{
    width: 100%;
    //background-color: rgb(7, 112, 112);
    display: flex; // ativa as caixas flexiveis 
    justify-content:center ; // FLEX-START é o padrão, os itens são postos no começo do eixo principal(vertical)...   FLEX-END os itens são postos no final do eixo principal...  FLEX-CENTER os items são postos no meio do eixo principal
    justify-content:space-around ; // SPACE-AROUND o primeiro espaço vazio e o ultimo são iguais..  SPACE-EVENLY o mesmo espaçamento entre os itens.. SPACE-BETWEEN o primeiro fica no começo do eixo e o ultimo fica no final do eixo 
    height: 15vh;
    align-items:center ; //FLEX-START  padrão! os itens são postos no começo do eixo y(vertical)..  FLEX-END os itens são postos no fim do eixo y...  FLEX-CENTER os itens são postos mo meio do eixo y..
    
    //responsivo
    //smartphone max.. 500px
    //@media (min-widht: ;) and (max-width: ;){}
  }


  .caixaLogo{
    //border: solid yellow;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
    margin-right: 25rem;

  h1{
   // border: solid rgb(228, 89, 89);
    font-size: 2rem;
    margin-right: 50px;
  }
}

  nav{
   // border: solid rgb(243, 117, 14);
    display: flex;
    justify-content:space-around;
    width: 40%;
    align-items: center;

  a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #4b5563;
  }
}



   .btnVerdeHeader{
    background-color: #21c05c;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;

  }




              //--------------primeira section - desktop------------//

  .primeieaSection{
    border: solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;


    section{
        border: solid green;
        //font-size:1,25rem;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;



        h2{
            font-size:3.75rem;
            font-weight: 700;
            width: 55%;
            border: red;

        }

        p{
            font-size: 1.25rem;
            width: 50%;
            border: solid blue;
        }
      }
    }


   .boxBtnsPrimeiraSection{
        border: solid purple;
        width: 50%;
        display: flex;
        justify-content: space-around;


        button{
            cursor: pointer;
            padding: 10px 20px;
            // width  heigth
        }
    }



    .dadosNumericos{
      border: solid red;
      background-color: #f3f5f8;
      display: flex;
      justify-content: space-around;
      height: 20vh;
      align-items:center ;


      div{
        border: solid;
        width: 25%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h2{
          color: #21c05c;

        }
      }
    }



           //----------section produtos disponiveis--------//

  .produtosDisponiveis{
    background-color: grey;
    display: flex;
    height: 85vh;
    justify-content: space-around;
    align-items: center;
    

    article{
        border: solid  red;
        width: 20%;
        height:60vh;
        display: flex;
        flex-direction: column; //  RAW (padrão) fileira  os itens são organizados em forma de linha da esquerda para a direita... ROW REVERSE  os itens são organizados em forma de linha (fileira) da direita pra esquerda..
        // COLUMN os itens são organizados em forma de colunas, de cima para baixo COLUMN REVERSE os itens são organizados em forma de colunas iniciando de baixo para cima 
        justify-content:space-between;
        //text-align: center;
        align-items: center;


    img{
        width: 100%;
        border: solid blue;
        height: 30vh;
    }
     
    button{
       // border: solid rgb(2, 119, 2);
        width: 60%;
        height: 4vh;
        cursor: pointer;
        margin-bottom: 1rem;
        background-color: #16a34a;
        color: #ffffff;
        font-weight: 900;
        border-radius: 15px;
        font-size: .9rem;
        font-family: monospace;

    }
  }
}





@media(max-width:500px){
    header{
        display: flex; // nao faz muita diferença pois a header ja esta configurada
        flex-direction: column;
        height: 20vh;
    }

    .caixaLogo{
        border: solid;
        width: 70%;       
   }

   nav{
    border: solid;
    width: 100%;

    a{
        font-size:0.8rem;
        
    }
    .btnVerdeHeader{
        font-size: 0,8ren;
    }
   }





   .dadosNumericos{
    background-color: rgb(238, 189, 189);
    text-align: center;
    div{
      width:30%;
      height: 15vh;
    }

    h2{
      font-size: 2.7rem;
    }
    p{
      font-size: 1.2rem;

    }
   }


             //----------primeira section - mobile--------//

   .primeiraSection{
        background-color: violet;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 80vh;

         section{
            height: 70vh;
            background-color: #16a34a;

            h2{
                font-size: 1.5rem;
                width: 100%;
            }

            p{
                width: 100%;
        }
    }

            .boxBtnsPrimeiraSection{
                width: 100%;

                button{
                    padding: 20px 30px;
                }
            }

            img{
                width: 50%;
            }
        }



       //-----------section Produtos Disponiveis---------//
    .produtosDisponiveis{
        flex-direction: column;
       background-color: palevioletred;

       article{
        width: 50%;
        text-align: center;


        button{
            background-color: red;
            font-size:1rem ;
            width: 70%;
            font-weight: 400;

        }

       }

    }
}
